.about {
  padding-bottom: 94px;
}
.about__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--forth-title-color);
  margin-bottom: 50px;
}

.pic-list {
  list-style: none;
  display: flex;

  &__item {
    position: relative;

    &:first-child {
      margin-right: 30px;
    }
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}
