.clients-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--forth-title-color);
  margin-bottom: 50px;
  @media screen and (min-width: 1200px) {
    font-size: 36px;
    line-height: 42px;
  }
}
.clients-list {
  @media screen and (min-width: 768px) {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
  }
}
.clients-item {
  flex-basis: calc((100%-30px) / 2);
  @media screen and (min-width: 768px) {
    flex-basis: calc((100%-60px) / 3);
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc((100%-150px) / 6);
  }
}
.clients-link {
  border: 1px solid var(--btn-soc);
  border-radius: 4px;
  padding: 16px 32px;
  transition: border-color var(--timing-function);
  &:hover,
  &:focus,
  &:hover .clients-icon,
  &:focus .clients-icon {
    border-color: var(--accent-color);
    fill: var(--accent-color);
  }
}
.clients-icon {
  fill: rgba(175, 177, 184, 1);
  transition: fill var(--timing-function);
}
