.header {
  border: 1px solid #ececec;
  background-color: var(--main-title-color);
}

.header-nav {
  //   gap: 30px;
  //   display: flex;
  //   margin-right: auto;
  display: none;
}

.main-nav {
  display: flex;
  align-items: center;
}

.list {
  //   display: flex;
  display: none;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  padding-top: 24px;
  padding-bottom: 24px;
  margin-right: 93px;
}
.logo-accent {
  color: var(--forth-title-color);
}

.link {
  text-decoration: none;
}
.header-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-title-color);
}

.nav-link {
  font-weight: 500;
  display: block;
  padding: 32px 0;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-title-color);
  margin-right: auto;
  transition: color var(--timing-function);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.header-item {
  margin-right: 50px;
  & {
    position: relative;
  }
}
.header-nav .iteam + .iteam {
  margin-left: 50px;
}

.header-item-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--third-title-color);
}
.header-contact-link {
  display: flex;
  align-items: center;
  font-weight: 500;
  padding: 32px 0;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--third-title-color);
  transition: color var(--timing-function);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.current {
  color: var(--accent-color);
  &::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -1px;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
  }
}

.icon-mail,
.icon-tell {
  margin-right: 10px;
  display: flex;
  align-items: center;
  &,
  & {
    fill: currentColor;
  }
}
.menu-open-btn {
  display: block;
  margin-left: auto;
}

.mob-menu {
  position: fixed;
  background-color: var(--main-title-color);
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
