.hero {
  background: var(--second-title-color);
  padding: 200px 0;
  max-width: 1600px;
  min-height: 480px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/imgcomp.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-title-color);
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 696px;
}

.hero__btn {
  background-color: var(--accent-color);
  border-radius: 4px;
  border: none;
  padding: 10px 32px;
  min-width: 200px;
  margin: 0 auto;
  display: block;
  transition: background-color var(--timing-function);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--btn-color);
  &:focus,
  &:hover {
    background-color: var(--btn-hover);
  }
}

.work-list {
  gap: 8px;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

li > .all {
  color: var(--main-title-color);
  background-color: var(--second-title-color);
}

.work-btn {
  padding: 6px 22px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--forth-title-color);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: background-color var(--timing-function), box-shadow var(--timing-function),
    color var(--timing-function);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: var(--main-title-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
  & > .item > &:hover,
  & > .item > &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.btn-current {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  & {
    background-color: var(--accent-color);
    color: var(--main-title-color);
  }
}
