.porfolio {
  background: var(--main-title-color);
  padding: 20px;
}
.works-title,
.project-item {
  background-color: var(--main-title-color);
  flex-basis: calc(100% / 3 - 30px);
}
.project-link {
  display: block;
  text-decoration: none;
  transition: box-shadow var(--timing-function);
  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.portfolio-top-wrap {
  position: relative;
  overflow: hidden;
}

.box-overlay {
  position: absolute;
  background: rgba(33, 150, 243, 0.9);
  padding: 0 24px;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  align-items: center;
  display: flex;
  transform: translateY(100%);
  transition: transform var(--timing-function);
  .project-link:hover & {
    transform: translateY(0);
  }
}

.porfolio-top-text {
  font-size: 18px;
  line-height: 1.56;
  color: var(--main-title-color);
  letter-spacing: 0.03em;
}
.portfolio-project {
  border-bottom: 1px solid var(--fifth-title-color);
  border-left: 1px solid var(--fifth-title-color);
  border-right: 1px solid var(--fifth-title-color);
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.list-project {
  gap: 30px;

  flex-wrap: wrap;
}

.project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: var(--forth-title-color);
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}
.project-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  color: var(--third-title-color);
}
