.box-team-name {
  padding-top: 30px;
  padding-bottom: 30px;
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--forth-title-color);
  margin-bottom: 50px;
}
.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 0.85;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--forth-title-color);
}
.team-name {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--forth-title-color);
  margin-bottom: 10px;
}
.team-list {
  gap: 30px;
  list-style: none;
  display: flex;
}
.text {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--third-title-color);
  margin-bottom: 30px;
}

.team-item {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  background-color: var(--btn-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  width: 100%;
  @media screen and (min-width: 768px) {
    width: calc((100%-30px) / 2);
    max-width: 768px;
  }
  @media screen and (min-width: 1200px) {
    width: calc((100%-90px) / 4);
    max-width: 1200px;
  }
}
.team {
  background-color: #f5f4fa;
  padding-top: 84px;
  padding-bottom: 84px;
  @media screen and (min-width: 480px) {
    padding-top: 100px;
    padding-bottom: 100px;
    max-width: 480px;
  }
  @media screen and (min-width: 768px) {
    padding-top: 130px;
    padding-bottom: 130px;
    max-width: 768px;
  }
}
.team-soc-list {
  display: flex;
  justify-content: center;
  background-color: var(--btn-color);
}
.team-soc-item:not(:last-child) {
  margin-right: 10px;
}
.team-soc-link {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background-color var(--timing-function);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}
.team-soc-icon {
  fill: var(--btn-soc);
  transition: fill var(--timing-function);
  .team-soc-link:hover &,
  .team-soc-link:focus & {
    fill: var(--btn-color);
  }
}
