:root {
  --btn-color: #ffffff;
  --main-title-color: #ffffff;
  --second-title-color: #2f303a;
  --third-title-color: #757575;
  --forth-title-color: #212121;
  --accent-color: #2196f3;
  --typical-margin: 20px;
  --fifth-title-color: #eee;
  --btn-soc: #afb1b8;
  --btn-hover: #188ce8;
  --timing-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
